// Multiple Breakpoint Items 
@media (max-width: 1200px) {
    .navigation {
        height: 90px;
        position: fixed;
        width: 100%;
        z-index: 10;
        .container {
            max-width: 100% !important;
            padding-right: 15px;
            padding-left: 15px;
            .row {
                .logo {
                    a {
                        img {
                            width: 150px;
                            bottom: -7px !important;
                        }
                    }
                }
                #mobile-menu-toggle {
                    float:right;
                    padding: 20px 25px;
                    position: relative;
                    z-index: 11;
                    i {
                        color: $white;
                        font-size:3em;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .menu-active {
        #menu {
            background: $black;
            position: fixed;
            width: 70%;
            top: 0;
            bottom: 0;
            right:0;
            z-index: 9;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: center;
            justify-content: center;
            opacity: 1;
            transition: all .2s ease-in-out;
            transform: translate3d( 0, 0, 0);
            .container {
                position: absolute;
                top:100px;
                .row {
                    display: block !important;
                    .login-container {
                        background: $pink;
                        width: 80%;
                        background: #de53f3;
                        margin: auto;
                        text-align: center;
                        a.login-btn {
                            text-decoration: none;
                            display: inline-block;
                            padding: 4px 70px 14px;
                            span {
                                text-transform: uppercase;
                                font-family: "Oswald";
                                color: $white;
                                font-size: 0.9em;
                                letter-spacing: 0.1em;
                            }
                            img {
                                position: relative;
                                top: 7px;
                                left: -10px;
                            }
                            &:hover {
                                span {
                                    color: $black;
                                    transition: $btnTransitions;
                                }
                            }
                        }
                    }
                    ul {
                        display: flex;
                        width:80%;
                        margin: auto;
                        &>li {
                            font-family: 'Oswald';
                            text-transform: uppercase;
                            font-size: 1.1em;
                            letter-spacing: 0.1em;
                            text-align: left;
                            position: relative;
                            white-space: nowrap;
                            width:100%;
                            padding:20px 0;
                            color: $white;
                            text-decoration: none;
                            a {
                                padding: 10px 120px 10px 10px;
                                text-decoration: none;
                                color: $white;
                                &:hover {
                                    color: $pink;
                                    transition: $btnTransitions;
                                }
                            }
                        }
                    }
                }
            }
        }
        #events, #newsletter, #footer {
            opacity:0.3;
        }
    }
    // Hamburger Menu changes ends

    // Cancellations
    #top-bar {display:none !important;}
    .navbar {display: none;}

}



// End of Global Styles

//Mobile
@media (max-width: 480px) {
    .menu-active #menu {
        width:100%;
    }

    #events {
        padding-top: 95px;
        .heading-container {
            margin: 0 15px;
            .grid-header {
                h1 {
                    float:none;
                    text-align:center;
                }
            }
        }
        .grid-body {
            .artists-container {
                &.list, &.force-list {
                    padding: 0 10px;
                    .artist-box {
                        height: 230px;
                        .headshot {
                            width:43%;
                            height: 63%;
                            img {
                                padding: 5px;
                            }
                        }
                        .date-container {
                            height: 20%;
                            .date-box {
                                .date {

                                }
                                .day {
                                    padding: 12px 22px;
                                }
                            }
                        }
                        .desc-container {
                            width:55%;
                        }
                        .buy-tickets-container {
                            height: 20%;
                            span {
                                font-size:0.8em;
                                top: 20%;
                                img {
                                    margin-right: 10px;
                                }
                            }                       
                        }
                        }

                    }
                }
            }
        }
    #newsletter {
        .newsletter-container {
           height:350px; 
           padding: 40px 20px;
        }
    }
    #footer {
        .social-container {
            margin-bottom: 40px; 
            .social-header {
                h2 {
                    float:none;
                }
            }
            .social-body {
                .tab-navigation {
                    .tablink {
                        .fa-brands {
                            font-size: 2em;
                        }
                        span {
                            display: none;
                        }
                        &.active-tab {
                            background-image: -webkit-linear-gradient(66deg, $pink 50%, $dark-pink 50%);
                        }
                    }
                }
            }
        }
        .map-container {
            .map-header {
                h2 {
                    float: none;
                }
            }
            .map-body {
                .title {
                    h3 {
                        span {
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }
                a {
                    .content {
                        .map-pointer-container {
                            height: 250px;
                            .address-block {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


// Mobile Large
@media (min-width: 481px) and (max-width: 768px) {

    .menu-active #menu {
        width: 90%;
    }
    #events {
        padding-top: 95px;
        .heading-container {
            margin: 0 15px;
            .grid-header {
                h1 {
                    float:none;
                    text-align:center;
                }
            }
        }
        .grid-body {
            .artists-container {
                &.list, &.force-list {
                    .artist-box {
                        height: 292px;
                        .headshot {
                            width:40%;
                            height: 64%;
                        }
                        .date-container {
                            height: 17%;
                        }
                        .desc-container {
                            width:60%;
                        }
                        .buy-tickets-container {
                            height: 19%;
                        }
                        }

                    }
                }
            }
        }
    #newsletter {
        .newsletter-container {
            height: 350px;
        }
    }
    #footer {
        .social-container {
            margin-bottom: 40px; 
            .social-header {
                h2 {
                    float:none;
                }
            }
            .social-body {
                .tab-navigation {
                    .tablink {
                        .fa-brands {
                            font-size: 2em;
                        }
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
        .map-container {
            .map-header {
                h2 {
                    float: none;
                }
            }
            .map-body {
                .title {
                    h3 {
                        span {
                            display: block;
                            margin-top: 10px;
                        }
                    }
                }
                a {
                    .content {
                        .map-pointer-container {
                            height: 291px;
                            .address-block {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

}





// Tablet Large
@media (min-width: 768px) and (max-width: 991px) {
    #events {
        padding-top: 95px;
        .heading-container {
            .grid-header {
                h1 {
                    float:none;
                    text-align:center;
                }
            }
        }
        .grid-body {
            .artists-container {
                &.list, &.force-list {

                    .artist-box {
                        height: 350px;
                        .headshot {
                            width:39%;
                            }
                        }
                        .date-container {
                            .date-box {
                                .date {
                                    padding: 15px;
                                }
                                .day {
                                    padding: 15px 30px;
                                }
                            }
                        }
                        .desc-container {
                            width:60% !important;
                        }
                        .buy-tickets-container {

                        }
                    }
                }
            }
        }

        #footer {
            .social-container {
                margin-bottom: 40px;
            }
            .map-container {
                .map-body {
                    a {
                        .content {
                            .map-pointer-container {
                                height: 371px;
                                .address-block {
                                    top: 33%;
                                    left: 210px;
                                }
                            }
                        }
                    }
                }
            }
        }
}

// Laptop
@media (min-width: 992px) and (max-width: 1199px) {


    #events {
        padding-top: 95px;
        .heading-container {
            .grid-header {
                h1 {
                    float:none;
                    text-align:center;
                }
            }
        }
        .grid-body {
            .artists-container {
                &.list, &.force-list {

                    .artist-box {
                        height: 310px;
                        .headshot {
                            height: 67%;
                            }
                        }
                        .date-container {
                            height: 16% !important;
                            .date-box {
                                .date {
                                    padding: 20px;
                                }
                                .day {
                                    padding: 15px 30px;
                                }
                            }
                        }
                        .desc-container {

                        }
                        .buy-tickets-container {
                            height: 17% !important;
                        }
                    }
                }
            }
        }

    #footer {
        .social-container {
            .social-body {
                .social-tab {
                    .tab-body {
                        .slide-container {
                            .slide-body {
                                height: 163px;
                            }
                        }
                    }
                }
            }
        }
        .map-container {
            .map-body {
                .title {
                    h3 {
                        span {
                           font-size: 12pt; 
                        }
                    }
                }
                a {
                    .content {
                        .map-pointer-container {
                            height: 262px;
                            .address-block {
                                top: 30%;
                                left: 133px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Extra Large
@media (min-width: 1200px) {
    #menu {display: none;}
    #mobile-menu-toggle {display: none;}

    #header {
        &.fixed-header {
            .navigation {
                position: fixed;
                width: 100%;
                z-index: 15;
                top: 0;
                .container {
                    .row {
                        .logo {
                            img {
                                position: static;
                                width: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}