@import "reset";
@import "variables";


* {
    box-sizing: border-box;
}

body {
    // font-family: 'Lato', sans-serif;
    // font-family: 'Merriweather', serif;
    // font-family: 'Oswald', sans-serif;
}


#header {
    text-transform: uppercase;
    font-family: 'Oswald';
    #top-bar {
        background: white;
        height:45px;
        .get-connected {
            min-width: 270px;
            width: 25%;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    float:left;
                    h4 {
                        color: $pink;
                        font-weight:500;
                        padding: 14px 7px 14px 5px;
                        font-size: 1em;
                        letter-spacing: normal;
                    }
                }
                a {
                    text-decoration: none;
                    color: $black;
                    li {
                        padding:12px 8px;
                    }
                    i.fa-brands {
                        font-size: 20px;
                    }
                    &:hover {
                        transition: $btnTransitions;
                        i.fa-brands {
                            color: $pink;
                            transition: $btnTransitions;
                        }
                    }
                    &:nth-child(4) {
                        li {
                            padding: 11px 9px 14px 9px;
                            i.fa-brands {
                                font-size:19px;
                            }
                        }
                    }
                }
            }
        }
        .search-container {
            padding: 7px 0;
            width: 28%;
            max-width: 367px;
            .search-bar {
                width:100%;
                background: $grey;
                display:flex;
                align-items: center;
                border-radius: 60px;
                padding: 0 5px 0 17px;
                input {
                    background: $grey;
                    flex:1;
                    border:0;
                    outline: none;
                    padding: 5px;
                    font-size: 0.9em;
                    letter-spacing: 0.1em;
                    color: $black;
                    text-transform: uppercase;
                    &::placeholder {
                        color: $black;
                        font-size: 0.9em;
                        letter-spacing: 0.1em;
                    }

                }
                button {
                    border:0;
                    border-radius: 50%;
                    background: $grey;
                }
            }

        }
        .login-container {
            width: 145px;
            background: $pink;
            margin-left: 20px;
            a.login-btn {
                text-decoration: none;
                display: inline-block;
                padding-top: 4px;
                padding-right: 50px;
                padding-bottom: 14px;
                padding-left: 25px;
                span {
                    color: $white;
                    font-size: 0.9em;
                    letter-spacing: 0.1em;
                }
                img {
                    position: relative;
                    top: 7px;
                    left: 10px;
                }
                &:hover {
                    span {
                        color: $black;
                        transition: $btnTransitions;
                    }
                }
            }
        }

    }
    .navigation {
        background: $black;
        max-height: 100px;
        .container {
            max-width: 95%;
            .row {
                .logo {
                   img {
                    position: relative;
                    bottom: 30px;
                   } 
                }
                .navbar {
                    padding: 0;
                    &>ul {
                        display: flex;
                        flex-direction: row;
                        width:100%;
                        &>a {
                            font-size: 1.1em;
                            letter-spacing: 0.1em;
                            text-align: center;
                            position: relative;
                            white-space: nowrap;
                            width:25%;
                            padding: 41px 0;
                            color: $white;
                            text-decoration: none;
                                &:hover {
                                    color: $pink;
                                    // background-color: $white;
                                    transition: $btnTransitions;
                                }
                        }
                    }
                }
            }
        }
    }

}



#events {
    background-color: $grey;
    .grid-header {
        h1 {
            float: left;
            font-family: 'Oswald';
            font-size: 2em;
            font-weight:500;
        }
        .icon {
            float:right;
            .fa {
                font-size: 32px
            }
            .grid-icon {
                float: left;
                padding:8px;
                cursor: pointer;
                &.active {
                    background-color: $white;
                    color: $pink;
                }
            }
            .list-icon {
                float:left;
                padding:8px;
                cursor: pointer;
                &.active {
                    background-color: $white;
                    color: $pink;
                }
            }
        }
    }

    .grid-body {
        .artists-container {
            // transition: $btnTransitions;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
            margin: 35px 0;
            .artist-box {
                width: 100%;
                height: 450px;
                // display: flex;
                // justify-content: center;
                align-items: center;
                background: $white;
                margin-bottom: 10px;
                .headshot {
                    width:100%;
                    height:68%;
                    img {
                        max-width:100%;
                    }
                }
                .date-container {
                    background: $black;
                    width:100%;
                    height:11%;
                    .date-box {
                        .date {
                            color: $pink;
                            float: left;
                            padding: 14px;
                            text-transform: uppercase;
                            font-family: 'Oswald';
                            font-weight: 400;
                            font-size: 1.1em;
                            letter-spacing: 1pt;
                        }
                        .day {
                            position: relative;
                            bottom: 5px;
                            background-color: $dark-grey;
                            color: $pink;
                            float: right;
                            padding: 15px 30px;
                            text-transform: uppercase;
                            font-family: 'Oswald';
                            font-weight: 400;
                            font-size: 1.2em;
                            clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
                        }
                    }
                }
                .desc-container {
                    background-color: $white;
                    width:100%;
                    height:21%;
                    .desc-box {
                        text-align: center;
                        margin-top: 20px;
                        // position: relative;
                        // top: 40%;
                        // left: 50%;
                        // transform: translate(-50%, -50%);
                        h2 {
                            text-transform: uppercase;
                            font-family: 'Oswald';
                            font-size: 1.6em;
                            letter-spacing: 1pt;
                            color: $pink;
                            font-weight: 500;
                            margin: 10px 0;
                        }
                        p {
                            text-transform: capitalize;
                            font-family: 'Merriweather';
                            font-size: 1em;
                            letter-spacing: 1pt;
                            font-style: italic;
                            color: $black;
                            font-weight: 600;
                        }
                    }
                }
                .buy-tickets-container {
                    background-color: $dark-pink;
                    position: relative;              
                    width: 100%;
                    height: 100%;
                    bottom: 100%;
                    opacity: 0;
                    text-align: center;
                    text-decoration: none;
                    color: $white;
                    text-transform: uppercase;
                    font-size: 1.5em;
                    font-weight: 500;
                    font-family: "Oswald";
                    letter-spacing: 1pt;
                    &:hover {
                        transition: $btnTransitions;
                        opacity: 0.9;
                    }
                    span {
                        position: relative; 
                        top: 50%;
                    }
                }
            }
            // Styles for its list variant
            &.list, &.force-list {
                display: grid;
                grid-template-columns: 1fr;
                width: 100%;
                .artist-box {
                    width: 100%;
                    // height: 330px;
                    height: 386px;
                    margin-top: 10px;
                    .headshot {
                        width:25%;
                        height: 64%;
                        order: -1;
                        img {
                            padding: 10px;
                        }
                    }
                    .date-container {
                        width:100%;
                        height: 18%;
                        order: 1;
                    }
                    .desc-container {
                        width: 75%;
                        height: 60%;
                        order: 0;
                    }
                    .buy-tickets-container {
                        position: static;
                        opacity: 1;
                        width: 100%;
                        height: 18%;
                        order: 2;
                        &:hover {
                            transition: $btnTransitions;
                            opacity: 1;
                            color: $dark-pink;
                            background-color: $white;
                        }
                        span {
                            top: 31%;
                        }
                    }
                }
            }
        }
    }
}





#newsletter {
    background-image: url("../img/newsletter-concert-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    display: flex;
    justify-content: center;
    .newsletter-container {
        background-color: rgba(0, 0, 0, 0.7);
        text-align: center;
        width: 680px;
        height:291px;
        margin: auto 10px;
        padding: 70px 55px;
        h2.newsletter-heading {
            color: $white;
            font-family: 'Oswald';
            font-size: 2.9rem;
            letter-spacing: 1pt;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        p.newsletter-info {
            color: $pink;
            font-family: 'Merriweather';
            font-style: italic;
            font-size: 1.1rem;
            letter-spacing: 1pt;
            margin-bottom: 55px;
        }
        a.nl-cta {
            color: $white;
            font-family: 'Oswald';
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.1rem;
            letter-spacing: 1.5pt;
            border: 2px solid $white;
            padding: 10px 55px;
            &:hover {
                transition: $btnTransitions;
                color: $pink;
                background: $white;
            }
        }
    }
}






#footer {
    background-color: #ffffff;
    padding: 50px 0;
    .social-container {
        .social-header {
            h2 {
                font-family: 'Oswald';
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.8em;
                letter-spacing: 1pt; 
                margin-right: 10px;
                float:left;
            }
            p {
                font-family: 'Merriweather';
                text-transform: capitalize;
                font-style: italic;
                font-size: 1em;
                letter-spacing: 1px;
                color: $pink;
                font-weight: 600;
                line-height: 2.4em;
            }
        }

        .social-body {
            .tab-navigation {
                display:flex;
                justify-content: space-between;
                border-top: 2px solid $black;
                height:80px;
                .tablink {
                    background-color: $black;
                    color: $white;
                    height: 60px;
                    border: 0;
                    width: 33.2%;
                    &.active-tab {
                        // padding: 10px;
                        background-color: $pink;
                        height: 65px;
                    }
                    &:focus {
                        outline: 0;
                        // padding: 10px;
                    }
                    .fa-brands {
                        font-size: 1.2em;
                        margin-right: 10px;
                    }
                    span {
                        font-family: 'Oswald';
                        text-transform: uppercase;
                        letter-spacing: 1pt;
                        font-size: 1.2em;
                        
                    }
                }
            }
            .social-tab {
                background: $grey;
                .tab-header {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 15px;
                    h3 {
                        color: $black;
                        font-family: 'Oswald';
                        text-transform: uppercase;
                        font-size: 1.2em;
                        a {
                           text-decoration: none;
                           color: $pink; 
                        }
                    }
                    .scrollers {
                        color: $pink;
                        span {
                            padding:5px;
                            cursor: pointer;
                            &:hover {
                                color: $black;
                            }
                        }
                    }
                }
                .tab-body {
                    margin: 10px;
                    .slide-container {
                        width: 230px;
                        margin:10px;
                        .slide-body {
                            background-color: $white;
                            height: 235px;
                            h4 {
                                font-family: 'Oswald';
                                font-size: 1.2em;
                                text-transform: uppercase;
                                font-weight: 400;
                                padding: 10px;
                                i {
                                    color: $pink;
                                    font-size: 1.2em;
                                }
                            }
                            p {
                                padding: 10px;
                                font-family: "Lato";
                                font-size: 1em;
                                line-height: 1.2em;
                                a {
                                    text-decoration: none;
                                    color: $pink;
                                    &:hover {
                                        transition: $btnTransitions;
                                        color: $black;
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                        .slide-footer {
                            background: $pink;
                            color: $white;
                            display: flex;
                            justify-content: space-between;
                            padding: 5px 10px;
                            span {
                                font-family: "Oswald";
                                letter-spacing: 1px;
                                font-size: 0.9em;
                                text-transform: uppercase;
                            }
                            a {
                                color: $white;
                                text-decoration: none;
                            }
                            
                        }
                    }
                }
            }
        }
    }

    .map-container {
        .map-header {
            h2 {
                font-family: 'Oswald';
                text-transform: uppercase;
                font-weight: 500;
                font-size: 1.8em;
                letter-spacing: 1pt; 
                margin-right: 10px;
                float:left;
            }
            p {
                font-family: 'Merriweather';
                text-transform: capitalize;
                font-style: italic;
                font-size: 1em;
                letter-spacing: 1px;
                color: $pink;
                font-weight: 600;
                line-height: 2.4em;
            }
        }

        .map-body {
            .title {
                background: $black;
                color: $white;
                h3 {
                    text-align: center;
                    font-family: "Oswald";
                    font-size: 1.3em;
                    text-transform: uppercase;
                    letter-spacing: 1pt;
                    padding: 20px;
                    span {
                        font-size: 13pt;
                        text-transform: capitalize;
                        letter-spacing: normal;
                    }
                }

            }
            .content {
                background-color: #f5f5f5;
                padding: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
}



@import "responsive";






























