/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

#header {
  text-transform: uppercase;
  font-family: "Oswald";
}
#header.fixed-header .navigation {
  position: fixed;
  width: 100%;
  z-index: 15;
  top: 0;
}
#header.fixed-header .navigation .container .row .logo img {
  position: static;
  width: 50%;
}
#header #top-bar {
  background: white;
  height: 45px;
}
#header #top-bar .get-connected {
  min-width: 270px;
  width: 25%;
}
#header #top-bar .get-connected ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header #top-bar .get-connected ul li {
  float: left;
}
#header #top-bar .get-connected ul li h4 {
  color: #de53f3;
  font-weight: 500;
  padding: 14px 7px 14px 5px;
  font-size: 1em;
  letter-spacing: normal;
}
#header #top-bar .get-connected ul li {
  padding: 12px 0;
}
#header #top-bar .get-connected ul li:first-child {
  padding: 0;
}
#header #top-bar .get-connected ul li a {
  text-decoration: none;
  color: #000000;
  padding: 12px 8px;
}
#header #top-bar .get-connected ul li a i.fa-brands {
  font-size: 20px;
}
#header #top-bar .get-connected ul li a:hover {
  transition: all 0.3s ease-in-out;
}
#header #top-bar .get-connected ul li a:hover i.fa-brands {
  color: #de53f3;
  transition: all 0.3s ease-in-out;
}
#header #top-bar .get-connected ul li a:nth-child(4) li {
  padding: 11px 9px 14px 9px;
}
#header #top-bar .get-connected ul li a:nth-child(4) li i.fa-brands {
  font-size: 19px;
}
#header #top-bar .search-container {
  padding: 7px 0;
  width: 28%;
  max-width: 367px;
}
#header #top-bar .search-container .search-bar {
  width: 100%;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 5px 0 17px;
}
#header #top-bar .search-container .search-bar input {
  background: #e5e5e5;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}
#header #top-bar .search-container .search-bar input::placeholder {
  color: #000000;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
#header #top-bar .search-container .search-bar button {
  border: 0;
  border-radius: 50%;
  background: #e5e5e5;
}
#header #top-bar .login-container {
  width: 145px;
  background: #de53f3;
  margin-left: 20px;
}
#header #top-bar .login-container a.login-btn {
  text-decoration: none;
  display: inline-block;
  padding-top: 4px;
  padding-right: 50px;
  padding-bottom: 14px;
  padding-left: 25px;
}
#header #top-bar .login-container a.login-btn span {
  color: #ffffff;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
#header #top-bar .login-container a.login-btn img {
  position: relative;
  top: 7px;
  left: 10px;
}
#header #top-bar .login-container a.login-btn:hover span {
  color: #000000;
  transition: all 0.3s ease-in-out;
}
#header .navigation {
  background: #000000;
  max-height: 100px;
}
#header .navigation .container {
  max-width: 95%;
}
#header .navigation .container .row .logo img {
  position: relative;
  bottom: 30px;
}
#header .navigation .container .row .navbar {
  padding: 0;
}
#header .navigation .container .row .navbar > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#header .navigation .container .row .navbar > ul > li {
  position: relative;
  top: 40px;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  white-space: nowrap;
  width: 25%;
}
#header .navigation .container .row .navbar > ul > li a {
  padding: 25px;
  text-decoration: none;
  color: #ffffff;
}
#header .navigation .container .row .navbar > ul > li a:hover {
  color: #de53f3;
  transition: all 0.3s ease-in-out;
}

#menu {
  display: none;
}

#events {
  background-color: #e5e5e5;
}
#events .grid-header h1 {
  float: left;
  font-family: "Oswald";
  font-size: 2em;
  font-weight: 500;
}
#events .grid-header .icon {
  float: right;
}
#events .grid-header .icon .fa {
  font-size: 32px;
}
#events .grid-header .icon .grid-icon {
  float: left;
  padding: 8px;
  cursor: pointer;
}
#events .grid-header .icon .grid-icon.active {
  background-color: #ffffff;
  color: #de53f3;
}
#events .grid-header .icon .list-icon {
  float: left;
  padding: 8px;
  cursor: pointer;
}
#events .grid-header .icon .list-icon.active {
  background-color: #ffffff;
  color: #de53f3;
}
#events .grid-body .artists-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin: 35px 0;
}
#events .grid-body .artists-container .artist-box {
  width: 100%;
  height: 450px;
  align-items: center;
  background: #ffffff;
  margin-bottom: 10px;
}
#events .grid-body .artists-container .artist-box .headshot {
  width: 100%;
  height: 68%;
}
#events .grid-body .artists-container .artist-box .headshot img {
  max-width: 100%;
}
#events .grid-body .artists-container .artist-box .date-container {
  background: #000000;
  width: 100%;
  height: 11%;
}
#events .grid-body .artists-container .artist-box .date-container .date-box .date {
  color: #de53f3;
  float: left;
  padding: 16px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1.1em;
  letter-spacing: 1pt;
}
#events .grid-body .artists-container .artist-box .date-container .date-box .day {
  position: relative;
  bottom: 5px;
  right: 0;
  background-color: #2e2e2e;
  color: #de53f3;
  float: right;
  padding: 15px 30px;
  text-transform: uppercase;
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1.2em;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 20px 100%);
}
#events .grid-body .artists-container .artist-box .desc-container {
  background-color: #ffffff;
  width: 100%;
  height: 21%;
}
#events .grid-body .artists-container .artist-box .desc-container .desc-box {
  text-align: center;
  margin-top: 20px;
}
#events .grid-body .artists-container .artist-box .desc-container .desc-box h2 {
  text-transform: uppercase;
  font-family: "Oswald";
  font-size: 1.6em;
  letter-spacing: 1pt;
  color: #de53f3;
  font-weight: 500;
  margin: 10px 0;
}
#events .grid-body .artists-container .artist-box .desc-container .desc-box p {
  text-transform: capitalize;
  font-family: "Merriweather";
  font-size: 1em;
  letter-spacing: 1pt;
  font-style: italic;
  color: #000000;
  font-weight: 600;
}
#events .grid-body .artists-container .artist-box .buy-tickets-container {
  background-color: #d345e8;
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 100%;
  opacity: 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  font-family: "Oswald";
  letter-spacing: 1pt;
}
#events .grid-body .artists-container .artist-box .buy-tickets-container:hover {
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}
#events .grid-body .artists-container .artist-box .buy-tickets-container span {
  position: relative;
  top: 50%;
}
#events .grid-body .artists-container.list, #events .grid-body .artists-container.force-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
#events .grid-body .artists-container.list .artist-box, #events .grid-body .artists-container.force-list .artist-box {
  width: 100%;
  height: 350px;
  margin-top: 10px;
}
#events .grid-body .artists-container.list .artist-box .headshot, #events .grid-body .artists-container.force-list .artist-box .headshot {
  width: 25%;
  height: 70%;
  order: -1;
}
#events .grid-body .artists-container.list .artist-box .headshot img, #events .grid-body .artists-container.force-list .artist-box .headshot img {
  padding: 10px;
}
#events .grid-body .artists-container.list .artist-box .date-container, #events .grid-body .artists-container.force-list .artist-box .date-container {
  width: 100%;
  height: 14%;
  order: 1;
}
#events .grid-body .artists-container.list .artist-box .date-container .date, #events .grid-body .artists-container.force-list .artist-box .date-container .date {
  padding: 15px;
}
#events .grid-body .artists-container.list .artist-box .desc-container, #events .grid-body .artists-container.force-list .artist-box .desc-container {
  width: 75%;
  height: 60%;
  order: 0;
}
#events .grid-body .artists-container.list .artist-box .desc-container .desc-box, #events .grid-body .artists-container.force-list .artist-box .desc-container .desc-box {
  text-align: left;
  margin: 20px;
}
#events .grid-body .artists-container.list .artist-box .buy-tickets-container, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container {
  position: static;
  opacity: 1;
  width: 100%;
  height: 16%;
  order: 2;
}
#events .grid-body .artists-container.list .artist-box .buy-tickets-container:hover, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container:hover {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  color: #d345e8;
  background-color: #ffffff;
}
#events .grid-body .artists-container.list .artist-box .buy-tickets-container span, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container span {
  top: 30%;
}

#newsletter {
  background-image: url("../img/newsletter-concert-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  display: flex;
  justify-content: center;
}
#newsletter .newsletter-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 680px;
  height: 291px;
  margin: auto 10px;
  padding: 70px 55px;
}
#newsletter .newsletter-container h2.newsletter-heading {
  color: #ffffff;
  font-family: "Oswald";
  font-size: 2.9rem;
  letter-spacing: 1pt;
  text-transform: uppercase;
  margin-bottom: 15px;
}
#newsletter .newsletter-container p.newsletter-info {
  color: #de53f3;
  font-family: "Merriweather";
  font-style: italic;
  font-size: 1.1rem;
  letter-spacing: 1pt;
  margin-bottom: 55px;
}
#newsletter .newsletter-container a.nl-cta {
  color: #ffffff;
  font-family: "Oswald";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1.5pt;
  border: 2px solid #ffffff;
  padding: 10px 55px;
}
#newsletter .newsletter-container a.nl-cta:hover {
  transition: all 0.3s ease-in-out;
  color: #de53f3;
  background: #ffffff;
}

#footer {
  background-color: #ffffff;
  padding: 50px 0;
}
#footer .social-container .social-header h2 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8em;
  letter-spacing: 1pt;
  margin-right: 10px;
  float: left;
}
#footer .social-container .social-header p {
  font-family: "Merriweather";
  text-transform: capitalize;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 1px;
  color: #de53f3;
  font-weight: 600;
  line-height: 2.4em;
}
#footer .social-container .social-body .tab-navigation {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #000000;
  height: 80px;
}
#footer .social-container .social-body .tab-navigation .tablink {
  background-color: #000000;
  color: #ffffff;
  height: 60px;
  border: 0;
  width: 33.3%;
}
#footer .social-container .social-body .tab-navigation .tablink:hover {
  background-color: #de53f3;
  background-image: -webkit-linear-gradient(72deg, #de53f3 50%, #d345e8 50%);
}
#footer .social-container .social-body .tab-navigation .tablink.active-tab {
  background-color: #de53f3;
  background-image: -webkit-linear-gradient(71deg, #de53f3 50%, #d345e8 50%);
  height: 65px;
}
#footer .social-container .social-body .tab-navigation .tablink:focus {
  outline: 0;
}
#footer .social-container .social-body .tab-navigation .tablink .fa-brands {
  font-size: 1.2em;
  margin-right: 10px;
}
#footer .social-container .social-body .tab-navigation .tablink span {
  font-family: "Oswald";
  text-transform: uppercase;
  letter-spacing: 1pt;
  font-size: 1.2em;
}
#footer .social-container .social-body .social-tab {
  background: #e5e5e5;
}
#footer .social-container .social-body .social-tab .tab-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
#footer .social-container .social-body .social-tab .tab-header h3 {
  color: #000000;
  font-family: "Oswald";
  text-transform: uppercase;
  font-size: 1.2em;
}
#footer .social-container .social-body .social-tab .tab-header h3 a {
  text-decoration: none;
  color: #de53f3;
}
#footer .social-container .social-body .social-tab .tab-header .scrollers {
  color: #de53f3;
}
#footer .social-container .social-body .social-tab .tab-header .scrollers span {
  padding: 5px;
  cursor: pointer;
}
#footer .social-container .social-body .social-tab .tab-header .scrollers span:hover {
  color: #000000;
}
#footer .social-container .social-body .social-tab .tab-header .scrollers span .arrow {
  font-size: 1.3em;
}
#footer .social-container .social-body .social-tab .tab-body {
  margin: 10px;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container {
  width: 230px;
  margin: 10px;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body {
  background-color: #ffffff;
  height: 194px;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body h4 {
  font-family: "Oswald";
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 400;
  padding: 10px;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body h4 i {
  color: #de53f3;
  font-size: 1.2em;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body p {
  padding: 10px;
  font-family: "Lato";
  font-size: 1em;
  line-height: 1.2em;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body p a {
  text-decoration: none;
  color: #de53f3;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body p a:hover {
  transition: all 0.3s ease-in-out;
  color: #000000;
  cursor: pointer;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-footer {
  background: #de53f3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-footer span {
  font-family: "Oswald";
  letter-spacing: 1px;
  font-size: 0.9em;
  text-transform: uppercase;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-footer a {
  color: #ffffff;
  text-decoration: none;
}
#footer .social-container .social-body .social-tab .tab-body .slide-container .slide-footer a:hover {
  transition: all 0.3s ease-in-out;
  color: #000000;
}
#footer .map-container .map-header h2 {
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8em;
  letter-spacing: 1pt;
  margin-right: 10px;
  float: left;
}
#footer .map-container .map-header p {
  font-family: "Merriweather";
  text-transform: capitalize;
  font-style: italic;
  font-size: 1em;
  letter-spacing: 1px;
  color: #de53f3;
  font-weight: 600;
  line-height: 2.4em;
}
#footer .map-container .map-body .title {
  background: #000000;
  color: #ffffff;
}
#footer .map-container .map-body .title h3 {
  text-align: center;
  font-family: "Oswald";
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1pt;
  padding: 20px;
}
#footer .map-container .map-body .title h3 span {
  font-size: 13pt;
  text-transform: capitalize;
  letter-spacing: normal;
}
#footer .map-container .map-body a {
  text-decoration: none;
}
#footer .map-container .map-body a .content {
  background-color: #f5f5f5;
  padding: 10px;
}
#footer .map-container .map-body a .content .map-pointer-container {
  background-image: url("../img/map-pin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 291px;
}
#footer .map-container .map-body a .content .map-pointer-container .address-block {
  background: #000000;
  color: #ffffff;
  font-family: "Oswald";
  position: relative;
  top: 31%;
  left: 161px;
  max-width: 186px;
  padding: 20px;
}
#footer .map-container .map-body a .content .map-pointer-container .address-block:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: #000000;
  top: 19%;
  left: -8px;
  transform: rotate(45deg);
}
#footer .map-container .map-body a .content .map-pointer-container .address-block h4 {
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1pt;
}
#footer .map-container .map-body a .content .map-pointer-container .address-block p {
  font-weight: 200;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 5px 0;
}

@media (max-width: 1200px) {
  .navigation {
    height: 90px;
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  .navigation .container {
    max-width: 100% !important;
    padding-right: 15px;
    padding-left: 15px;
  }
  .navigation .container .row .logo a img {
    width: 150px;
    bottom: -7px !important;
  }
  .navigation .container .row #mobile-menu-toggle {
    float: right;
    padding: 20px 25px;
    position: relative;
    z-index: 11;
  }
  .navigation .container .row #mobile-menu-toggle i {
    color: #ffffff;
    font-size: 3em;
  }
  .navigation .container .row #mobile-menu-toggle:hover {
    cursor: pointer;
  }
  .menu-active #menu {
    background: #000000;
    position: fixed;
    width: 70%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
  }
  .menu-active #menu .container {
    position: absolute;
    top: 100px;
  }
  .menu-active #menu .container .row {
    display: block !important;
  }
  .menu-active #menu .container .row .login-container {
    background: #de53f3;
    width: 80%;
    background: #de53f3;
    margin: auto;
    text-align: center;
  }
  .menu-active #menu .container .row .login-container a.login-btn {
    text-decoration: none;
    display: inline-block;
    padding: 4px 70px 14px;
  }
  .menu-active #menu .container .row .login-container a.login-btn span {
    text-transform: uppercase;
    font-family: "Oswald";
    color: #ffffff;
    font-size: 0.9em;
    letter-spacing: 0.1em;
  }
  .menu-active #menu .container .row .login-container a.login-btn img {
    position: relative;
    top: 7px;
    left: -10px;
  }
  .menu-active #menu .container .row .login-container a.login-btn:hover span {
    color: #000000;
    transition: all 0.3s ease-in-out;
  }
  .menu-active #menu .container .row ul {
    display: flex;
    width: 80%;
    margin: auto;
  }
  .menu-active #menu .container .row ul > li {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    text-align: left;
    position: relative;
    white-space: nowrap;
    width: 100%;
    padding: 20px 0;
    color: #ffffff;
    text-decoration: none;
  }
  .menu-active #menu .container .row ul > li a {
    padding: 10px 120px 10px 10px;
    text-decoration: none;
    color: #ffffff;
  }
  .menu-active #menu .container .row ul > li a:hover {
    color: #de53f3;
    transition: all 0.3s ease-in-out;
  }
  .menu-active #events, .menu-active #newsletter, .menu-active #footer {
    opacity: 0.3;
  }
  #top-bar {
    display: none !important;
  }
  .navbar {
    display: none;
  }
}
@media (max-width: 480px) {
  .menu-active #menu {
    width: 100%;
  }
  #events {
    padding-top: 95px;
  }
  #events .grid-header h1 {
    float: none;
    text-align: center;
  }
  #events .grid-body .artists-container.list, #events .grid-body .artists-container.force-list {
    padding: 0 10px;
  }
  #events .grid-body .artists-container.list .artist-box, #events .grid-body .artists-container.force-list .artist-box {
    height: 230px;
  }
  #events .grid-body .artists-container.list .artist-box .headshot, #events .grid-body .artists-container.force-list .artist-box .headshot {
    width: 43%;
    height: 63%;
  }
  #events .grid-body .artists-container.list .artist-box .headshot img, #events .grid-body .artists-container.force-list .artist-box .headshot img {
    padding: 5px;
  }
  #events .grid-body .artists-container.list .artist-box .date-container, #events .grid-body .artists-container.force-list .artist-box .date-container {
    height: 20%;
  }
  #events .grid-body .artists-container.list .artist-box .date-container .date-box .day, #events .grid-body .artists-container.force-list .artist-box .date-container .date-box .day {
    padding: 12px 22px;
  }
  #events .grid-body .artists-container.list .artist-box .desc-container, #events .grid-body .artists-container.force-list .artist-box .desc-container {
    width: 55%;
  }
  #events .grid-body .artists-container.list .artist-box .buy-tickets-container, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container {
    height: 20%;
  }
  #events .grid-body .artists-container.list .artist-box .buy-tickets-container span, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container span {
    font-size: 0.8em;
    top: 20%;
  }
  #events .grid-body .artists-container.list .artist-box .buy-tickets-container span img, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container span img {
    margin-right: 10px;
  }
  #newsletter .newsletter-container {
    height: 350px;
    padding: 40px 20px;
  }
  #footer .social-container {
    margin-bottom: 40px;
  }
  #footer .social-container .social-header h2 {
    float: none;
  }
  #footer .social-container .social-body .tab-navigation .tablink .fa-brands {
    font-size: 2em;
  }
  #footer .social-container .social-body .tab-navigation .tablink span {
    display: none;
  }
  #footer .map-container .map-header h2 {
    float: none;
  }
  #footer .map-container .map-body .title h3 span {
    display: block;
    margin-top: 10px;
  }
  #footer .map-container .map-body a .content .map-pointer-container {
    height: 250px;
  }
  #footer .map-container .map-body a .content .map-pointer-container .address-block {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .menu-active #menu {
    width: 90%;
  }
  #events {
    padding-top: 95px;
  }
  #events .grid-header h1 {
    float: none;
    text-align: center;
  }
  #events .grid-body .artists-container.list .artist-box, #events .grid-body .artists-container.force-list .artist-box {
    height: 292px;
  }
  #events .grid-body .artists-container.list .artist-box .headshot, #events .grid-body .artists-container.force-list .artist-box .headshot {
    width: 40%;
    height: 64%;
  }
  #events .grid-body .artists-container.list .artist-box .date-container, #events .grid-body .artists-container.force-list .artist-box .date-container {
    height: 17%;
  }
  #events .grid-body .artists-container.list .artist-box .desc-container, #events .grid-body .artists-container.force-list .artist-box .desc-container {
    width: 60%;
  }
  #events .grid-body .artists-container.list .artist-box .buy-tickets-container, #events .grid-body .artists-container.force-list .artist-box .buy-tickets-container {
    height: 19%;
  }
  #newsletter .newsletter-container {
    height: 350px;
  }
  #footer .social-container {
    margin-bottom: 40px;
  }
  #footer .social-container .social-header h2 {
    float: none;
  }
  #footer .social-container .social-body .tab-navigation .tablink .fa-brands {
    font-size: 2em;
  }
  #footer .social-container .social-body .tab-navigation .tablink span {
    display: none;
  }
  #footer .map-container .map-header h2 {
    float: none;
  }
  #footer .map-container .map-body .title h3 span {
    display: block;
    margin-top: 10px;
  }
  #footer .map-container .map-body a .content .map-pointer-container {
    height: 291px;
  }
  #footer .map-container .map-body a .content .map-pointer-container .address-block {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #events {
    padding-top: 95px;
  }
  #events .grid-header h1 {
    float: none;
    text-align: center;
  }
  #events .grid-body .artists-container.list .artist-box, #events .grid-body .artists-container.force-list .artist-box {
    height: 350px;
  }
  #events .grid-body .artists-container.list .artist-box .headshot, #events .grid-body .artists-container.force-list .artist-box .headshot {
    width: 39%;
  }
  #events .grid-body .artists-container.list .date-container .date-box .date, #events .grid-body .artists-container.force-list .date-container .date-box .date {
    padding: 15px;
  }
  #events .grid-body .artists-container.list .date-container .date-box .day, #events .grid-body .artists-container.force-list .date-container .date-box .day {
    padding: 15px 30px;
  }
  #events .grid-body .artists-container.list .desc-container, #events .grid-body .artists-container.force-list .desc-container {
    width: 60% !important;
  }
  #footer .social-container {
    margin-bottom: 40px;
  }
  #footer .map-container .map-body a .content .map-pointer-container {
    height: 371px;
  }
  #footer .map-container .map-body a .content .map-pointer-container .address-block {
    top: 33%;
    left: 210px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #events {
    padding-top: 95px;
  }
  #events .grid-header h1 {
    float: none;
    text-align: center;
  }
  #events .grid-body .artists-container.list .artist-box, #events .grid-body .artists-container.force-list .artist-box {
    height: 310px;
  }
  #events .grid-body .artists-container.list .artist-box .headshot, #events .grid-body .artists-container.force-list .artist-box .headshot {
    height: 67%;
  }
  #events .grid-body .artists-container.list .date-container, #events .grid-body .artists-container.force-list .date-container {
    height: 16% !important;
  }
  #events .grid-body .artists-container.list .date-container .date-box .date, #events .grid-body .artists-container.force-list .date-container .date-box .date {
    padding: 20px;
  }
  #events .grid-body .artists-container.list .date-container .date-box .day, #events .grid-body .artists-container.force-list .date-container .date-box .day {
    padding: 15px 30px;
  }
  #events .grid-body .artists-container.list .buy-tickets-container, #events .grid-body .artists-container.force-list .buy-tickets-container {
    height: 17% !important;
  }
  #footer .social-container .social-body .social-tab .tab-body .slide-container .slide-body {
    height: 143px;
  }
  #footer .map-container .map-body .title h3 span {
    font-size: 12pt;
  }
  #footer .map-container .map-body a .content .map-pointer-container {
    height: 242px;
  }
  #footer .map-container .map-body a .content .map-pointer-container .address-block {
    top: 30%;
    left: 133px;
  }
}
@media (min-width: 1200px) {
  #menu {
    display: none;
  }
  #mobile-menu-toggle {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
