/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

#header {
  text-transform: uppercase;
  font-family: "Oswald";
}
#header #top-bar {
  background: white;
  height: 45px;
}
#header #top-bar .get-connected {
  min-width: 270px;
  width: 25%;
}
#header #top-bar .get-connected ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#header #top-bar .get-connected ul li {
  float: left;
}
#header #top-bar .get-connected ul li h4 {
  color: #de53f3;
  font-weight: 500;
  padding: 14px 7px 14px 5px;
  font-size: 1em;
  letter-spacing: normal;
}
#header #top-bar .get-connected ul a {
  text-decoration: none;
  color: #000000;
}
#header #top-bar .get-connected ul a li {
  padding: 12px 8px;
}
#header #top-bar .get-connected ul a i.fa-brands {
  font-size: 20px;
}
#header #top-bar .get-connected ul a:hover {
  transition: all 0.3s ease-in-out;
}
#header #top-bar .get-connected ul a:hover i.fa-brands {
  color: #de53f3;
  transition: all 0.3s ease-in-out;
}
#header #top-bar .get-connected ul a:nth-child(4) li {
  padding: 11px 9px 14px 9px;
}
#header #top-bar .get-connected ul a:nth-child(4) li i.fa-brands {
  font-size: 19px;
}
#header #top-bar .search-container {
  padding: 7px 0;
  width: 28%;
  max-width: 367px;
}
#header #top-bar .search-container .search-bar {
  width: 100%;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0 5px 0 17px;
}
#header #top-bar .search-container .search-bar input {
  background: #e5e5e5;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: #000000;
  text-transform: uppercase;
}
#header #top-bar .search-container .search-bar input::placeholder {
  color: #000000;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
#header #top-bar .search-container .search-bar button {
  border: 0;
  border-radius: 50%;
  background: #e5e5e5;
}
#header #top-bar .login-container {
  width: 145px;
  background: #de53f3;
  margin-left: 20px;
}
#header #top-bar .login-container a.login-btn {
  text-decoration: none;
  display: inline-block;
  padding-top: 4px;
  padding-right: 50px;
  padding-bottom: 14px;
  padding-left: 25px;
}
#header #top-bar .login-container a.login-btn span {
  color: #ffffff;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
#header #top-bar .login-container a.login-btn img {
  position: relative;
  top: 7px;
  left: 10px;
}
#header #top-bar .login-container a.login-btn:hover span {
  color: #000000;
  transition: all 0.3s ease-in-out;
}
#header .navigation {
  background: #000000;
  max-height: 100px;
}
#header .navigation .container {
  max-width: 95%;
}
#header .navigation .container .row .logo img {
  position: relative;
  bottom: 30px;
}
#header .navigation .container .row .navbar {
  padding: 0;
}
#header .navigation .container .row .navbar > ul {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#header .navigation .container .row .navbar > ul > a {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  position: relative;
  white-space: nowrap;
  width: 25%;
  padding: 41px 0;
  color: #ffffff;
  text-decoration: none;
}
#header .navigation .container .row .navbar > ul > a:hover {
  color: #de53f3;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
}

#events {
  background-color: #e5e5e5;
}
#events .grid-header h1 {
  float: left;
  font-family: "Oswald";
  font-size: 2em;
  font-weight: 500;
}
#events .grid-header .icon {
  float: right;
}
#events .grid-header .icon .fa {
  font-size: 32px;
}
#events .grid-header .icon .grid-icon {
  float: left;
  padding: 8px;
  cursor: pointer;
}
#events .grid-header .icon .grid-icon.active {
  background-color: #ffffff;
  color: #de53f3;
}
#events .grid-header .icon .list-icon {
  float: left;
  padding: 8px;
  cursor: pointer;
}
#events .grid-header .icon .list-icon.active {
  background-color: #ffffff;
  color: #de53f3;
}
#events .grid-body .ltg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 35px 0;
}
#events .grid-body .ltg .grid-column {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  margin: 10px 0;
}
#events .grid-body .ltg.list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}
#events .grid-body .ltg.list div {
  width: 95%;
  height: 100px;
  margin-top: 10px;
}

#newsletter {
  background-image: url("../img/newsletter-concert-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  position: relative;
}
#newsletter .newsletter-container {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  width: 600px;
  margin: auto;
  padding: 40px 40px;
}
#newsletter .newsletter-container h2.newsletter-heading {
  color: #ffffff;
  font-family: "Oswald";
  font-size: 2rem;
  letter-spacing: 1pt;
  text-transform: uppercase;
  margin: 15px 0;
}
#newsletter .newsletter-container p.newsletter-info {
  color: #de53f3;
  font-family: "Merriweather";
  font-style: italic;
  font-size: 1rem;
  letter-spacing: 1pt;
}
#newsletter .newsletter-container a.nl-cta {
  color: #ffffff;
  font-family: "Oswald";
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1.5pt;
  border: 2px solid #ffffff;
  padding: 10px 55px;
}

@media (max-width: 767px) {
  #top-bar {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #top-bar {
    display: none !important;
  }
}

/*# sourceMappingURL=styles.css.map */
